@font-face {
  font-family: "UbuntuMono";
  src: url("./assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "UbuntuMono";
  src: url("./assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
:root {
  --black: #414868;
  --blue: #7aa2f7;
  --cyan: #7dcfff;
  --green: #9ece6a;
  --magenta: #bb9af7;
  --red: #f7768e;
  --white: #c0caf5;
  --yellow: #e0af68;
  --bgcolor: rgba(7, 12, 22, 0.9);
  --fgcolor: #9e9e9e;
}
* {
  color: var(--fgcolor);
  font-family: "UbuntuMono";
  font-style: normal;
  font-size: 1.1rem;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("./assets/sfondo4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: var(--bgcolor);
}
.top {
  display: flex;
}
.right p,
.right p span {
  font-size: 1rem;
}
pre {
  color: var(--white);
  font-weight: bold;
}
.info p,
.commands p {
  color: var(--fgcolor);
}
.commands p {
  margin-top: 8px;
}
code {
  font-weight: bold;
  color: var(--green);
}
.info {
  border-bottom: dashed;
  padding-bottom: 8px;
}
.palette {
  height: 80px;
}
.normal-color-palette {
  height: 100%;
  display: flex;
}
.color {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

input {
  color: var(--fgcolor);
  background: none;
  border: none;
  width: 80%;
  font-size: 1.1rem;
}
input:focus {
  border: none;
  outline: none;
}
.credits {
  color: var(--blue);
  font-weight: bold;
}
.favicon {
  color: var(--red);
  font-weight: bold;
}
.owl {
  color: var(--yellow);
  font-weight: bold;
}
.colorscheme {
  color: var(--magenta);
  font-weight: bold;
}
.command-line::before {
  content: "user@owlOS~ ";
  color: var(--yellow);
  font-weight: bold;
}
